.form{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:50px;
}

.card{
    min-width:300px;
    max-width:600px;
    width:100%;
}



mat-card-title{
    text-align:center;
}

.colorButton{
    background-color:#0d6bd6;
    color:white;
}

.container{
    display:flex;
    flex-direction:column;
}
.button{
    width:100%;
}

